p There are {{users.length}} users
div(ng-repeat='user in users')
  h3 {{post.firstName}} {{post.lastName}}
  div {{post.email}}
  a(href='readPost/{{user.id}}') More
  |  - 
  a(href='editPost/{{user.id}}') Edit
  |  - 
  a(href='deletePost/{{user.id}}') Delete